{{- if or .Params.author site.Params.author }}
{{- $author := (.Params.author | default site.Params.author) }}
{{- $author_type := (printf "%T" $author) }}
{{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}")) }}
{{- $first := index $author 0 }}
{{- $rest := after 1 $author }}
<strong>{{ $first }}</strong>{{- if $rest }}<br><span style="font-size: 0.8em; font-weight: normal;">{{ delimit $rest ",&thinsp;" | safeHTML }}</span>{{- end }}
{{- else }}
{{- $author }}
{{- end }}
{{- end -}}
